body{
    margin: 2px;
    background-color: rgb(158, 107, 194);
}

h1 {
    color: rgb(13, 13, 13);
}

.navbar{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    background-color: rgb(145, 60, 138);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navbar a{
    padding: 20px;
    text-decoration: none;
    color: black;
    font-size:20px;
}
.navbar a:hover{
    color:rgb(182, 124, 175);
    background-color:rgb(155, 89, 162);

}
.card{
    border: 1px solid rgb(146, 57, 131);
    width: 350px;
    border-radius: 30px;
    text-align: center;
    margin-top: 70px;
    overflow: hidden;
    /* margin-left: 40%; */
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    background-color: rgb(166, 105, 154);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card img{
    /* width: 300px; */
    width: 100%;
}

.card button{
    border-style: none;
    padding: 10px;
    width: 80%;
    border-radius: 8px;
}